BookCatalog.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xml2017"
	xmlns:target="http://xml2017"
	elementFormDefault="qualified">

	<element name="BookCatalog">
		<complexType>
			<sequence>
				<element name="Book" maxOccurs="unbounded" >
					<complexType>
						<sequence>
							<element name="Title" type="string"/>
              <element name="Author" type="string"/>
              <element name="Year" type="string"/>
						</sequence>	
					</complexType>
				</element>
			</sequence>	
		</complexType>
	</element>

</schema>