EX3-8외부.dtd

<?xml version="1.0" encoding ="utf-8"?>

<!ELEMENT BookCatalog (Book)*> 
<!ELEMENT Book ((BookCode|Title), (CoAuthor|Author), Year, Price, Summary)>

<!ELEMENT BookCode (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Author (#PCDATA)>
<!ELEMENT CoAuthor (#PCDATA|Author)*> 
<!ELEMENT Year (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT Summary ANY>

<!ATTLIST Book code ID #REQUIRED>
<!ATTLIST Book lang CDATA "KOREAN">
<!ATTLIST Price unit (원|엔|프랑|달러) #IMPLIED>
