EX3-4외부.dtd

<?xml version="1.0" encoding ="utf-8"?>

<!ELEMENT BookCatalog (Book)*> 
<!ELEMENT Book ((BookCode|Title), (CoAuthor|Author), Year, Summary)>
<!ELEMENT BookCode (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Author (#PCDATA)>
<!ELEMENT CoAuthor (#PCDATA|Author)*> 
<!ELEMENT Year (#PCDATA)>
<!ELEMENT Summary ANY>
